{% raw %}---

groups:

- name: ci
  jobs:
  - unit-tests
  - bump-prerelease
  - package-tile-generator
  - install-tile-generator
{% endraw %}{% for tile in tiles %}
  - build-{{tile}}
{% endfor %}{% raw %}
  - build-tile
  - acceptance-tests
  {% endraw %}{% for cluster in clusters %}- claim-{{ cluster }}
  - deploy-tile-{{ cluster }}
  - deployment-tests-{{ cluster }}
  - remove-tile-{{ cluster }}{% if not loop.last %}
  {% endif %}{% endfor %}{% raw %}

- name: release
  jobs:
  - bump-minor
  - bump-major
  - most-recent
  - create-release

resource_types:

- name: slack-notification
  type: docker-image
  source:
    repository: cfcommunity/slack-notification-resource
    tag: latest

- name: pypi
  type: docker-image
  source:
    repository: cfplatformeng/concourse-pypi-resource

- name: pivnet
  type: docker-image
  source:
    repository: pivotalcf/pivnet-resource
    tag: latest-final

- name: pcf-pool
  type: docker-image
  source:
    repository: cftoolsmiths/toolsmiths-envs-resource

resources:

- name: tile-generator-repo
  type: git
  source:
    ignore_paths: [ "ci/docker-tile-generator" ]
    branch: {{github-branch}}
    uri: http://github.com/cf-platform-eng/tile-generator.git

- name: tile-generator-github-prerelease
  type: github-release
  source:
    user: cf-platform-eng
    repository: tile-generator
    access_token: {{github-release-token}}
    release: false
    pre_release: true

- name: tile-generator-github-release
  type: github-release
  source:
    user: cf-platform-eng
    repository: tile-generator
    access_token: {{github-release-token}}

- name: tile-generator-pypi-release
  type: pypi
  source:
    name: tile-generator
    username: {{pypi-user}}
    password: {{pypi-password}}

- name: tile-generator-dockerfile-repo
  type: git
  source:
    paths: [ "ci/docker-tile-generator" ]
    branch: {{github-branch}}
    uri: http://github.com/cf-platform-eng/tile-generator.git

- name: tile-generator-package
  type: s3
  source:
    bucket: {{s3-bucket}}
    regexp: tile-generator-(?P<version>.*).tar.gz
    access_key_id: {{s3-access-key}}
    secret_access_key: {{s3-secret}}

- name: tile-generator-package-release
  type: s3
  source:
    bucket: {{s3-bucket}}
    regexp: release/bundle-(?P<version>.*).tar.gz
    access_key_id: {{s3-access-key}}
    secret_access_key: {{s3-secret}}

- name: generated-tile
  type: s3
  source:
    bucket: {{s3-bucket}}
    regexp: test-tile-(?P<version>.*)\.pivotal
    access_key_id: {{s3-access-key}}
    secret_access_key: {{s3-secret}}

- name: tile-history
  type: s3
  source:
    bucket: {{s3-bucket}}
    regexp: tile\-history-(?P<version>.*)\.yml
    access_key_id: {{s3-access-key}}
    secret_access_key: {{s3-secret}}

- name: tile-generator-docker-image
  type: docker-image
  source:
    repository: cfplatformeng/tile-generator-prerelease
    email: {{docker-hub-email}}
    username: {{docker-hub-username}}
    password: {{docker-hub-password}}

- name: tile-generator-docker-image-release
  type: docker-image
  source:
    repository: cfplatformeng/tile-generator
    email: {{docker-hub-email}}
    username: {{docker-hub-username}}
    password: {{docker-hub-password}}

- name: app-docker-image
  type: docker-image
  source:
    repository: cfplatformeng/tile-generator-sample-app
    email: {{docker-hub-email}}
    username: {{docker-hub-username}}
    password: {{docker-hub-password}}

{% endraw %}{% for cluster in clusters %}- name: pcf-environment-{{ cluster }}
  type: pcf-pool
  source:
    api_token: {% raw %}{{poolsmiths_api_token}}{% endraw %}
    hostname: environments.toolsmiths.cf-app.com
    pool_name: us_{{cluster}}
  tags:
  - toolsmiths-shared-vsphere{% if not loop.last %}

{% endif %}{% endfor %}

{% for tile in tiles %}- name: pivnet-{{tile}}
  type: pivnet
  source:
    api_token: {% raw %}{{pivnet-api-token}}{% endraw %}
    product_slug: z-test-{{tile}}
    access_key_id: {% raw %}{{pivnet-bucket-id}}{% endraw %}
    secret_access_key: {% raw %}{{pivnet-bucket-secret}}{% endraw %}

{% endfor %}{% raw %}

- name: slack-alert
  type: slack-notification
  source:
    url: {{slack-hook}}

- name: version
  type: semver
  source:
    driver: git
    uri: git@github.com:cf-platform-eng/tile-generator
    branch: version
    file: version
    private_key: {{github-semver-private-key}}

jobs:

- name: unit-tests
  plan:
  - get: tile-generator-repo
    trigger: true
  - task: run-unit-tests
    config:
      image_resource:
        type: docker-image
        source:
          repository: python
          tag: 3-slim
      platform: linux
      inputs:
      - name: tile-generator-repo
      run:
        path: bash
        args:
        - -exc
        - |
          command -v virtualenv >/dev/null 2>&1 || pip install virtualenv
          tile-generator-repo/ci/scripts/run-unittests.sh
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Unit tests failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator

- name: bump-prerelease
  plan:
  - get: tile-generator-repo
    passed: [ unit-tests ]
    trigger: true
  - put: version
    params:
      pre: dev

- name: package-tile-generator
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-repo
      passed: [ bump-prerelease ]
    - get: version
      passed: [ bump-prerelease ]
      trigger: true
    - get: final-version
      resource: version
      params:
        bump: final
  - task: build-package
    config:
      image_resource:
        type: docker-image
        source:
          repository: python
          tag: 3-slim
      platform: linux
      inputs:
      - name: tile-generator-repo
      - name: version
      - name: final-version
      outputs:
      - name: tile-generator-dist
      - name: tile-generator-dist-release
      params: 
        mac_ssh_key: ((mac_ssh_key))
      run:
        path: bash
        args:
        - -exc 
        - |
          command -v virtualenv >/dev/null 2>&1 || pip install virtualenv
          command -v objcopy >/dev/null 2>&1 && command -v git >/dev/null 2>&1 || apt update && apt install --yes binutils git
          cd tile-generator-repo
          echo "$mac_ssh_key" > mac_ssh_key
          chmod 600 mac_ssh_key

          function build(){
            rm -rf dist*
            for VER in "$VERSION" "$FINAL_VERSION"; do
              echo "version_string = '$VER'" > tile_generator/version.py
              ./pyinstaller/build-binaries.sh
              if [ -z "$SKIP_SDIST" ]; then
                python setup.py sdist
                # Setuptools normalizes versions and does not support semver.
                # See https://github.com/pypa/setuptools/issues/308
                mv dist/tile-generator-*.tar.gz dist/tile-generator-"$VER".tar.gz || true
              fi
              mv dist dist-"$VER"
            done
          }

          function build-remote(){
            HEAD="$HEAD"
            ssh -oStrictHostKeyChecking=no -i mac_ssh_key -t administrator@207.254.45.60 "$(typeset -f build)
              SKIP_SDIST='true'
              VERSION="$VERSION"
              FINAL_VERSION="$FINAL_VERSION"
              cd tile-generator
              git fetch origin
              git reset --hard "$HEAD"
              build
              rm -rf dist/
            "
            scp -oStrictHostKeyChecking=no -i mac_ssh_key -r administrator@207.254.45.60:tile-generator/dist* .
          }

          VERSION=`cat ../version/version`
          FINAL_VERSION=`cat ../final-version/version`
          build
          HEAD=`git log --pretty=format:'%h' -n 1`
          build-remote

          cp dist-"$VERSION"/* ../tile-generator-dist/
          tar -cvzf ../tile-generator-dist-release/bundle-"$VERSION".tar.gz dist-"$FINAL_VERSION"/*
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Tile Generator package build failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator
  - in_parallel:
      - put: tile-generator-package
        params:
          file: tile-generator-dist/tile-generator-*.tar.gz
      - put: tile-generator-package-release
        params:
          file: tile-generator-dist-release/bundle-*.tar.gz
      - put: tile-generator-github-prerelease
        params:
          name: version/version
          tag: version/version
          tag_prefix: v
          globs:
          - tile-generator-dist/*

- name: install-tile-generator
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-package
      passed: [ package-tile-generator ]
    - get: tile-generator-package-release
      passed: [ package-tile-generator ]
    - get: tile-generator-repo
      passed: [ package-tile-generator ]
    - get: version
      passed: [ package-tile-generator ]
      trigger: true
    - get: tile-generator-dockerfile-repo
  - task: prepare-docker-build
    config:
      image_resource:
        type: docker-image
        source:
          repository: python
          tag: 3-slim
      platform: linux
      inputs:
      - name: tile-generator-dockerfile-repo
      - name: tile-generator-package
      outputs:
      - name: docker-build-dir
      run:
        path: sh
        args:
        - -c
        - cp tile-generator-package/* docker-build-dir/ && cp tile-generator-dockerfile-repo/ci/docker-tile-generator/* docker-build-dir/
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Tile Generator docker build failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator
  - put: tile-generator-docker-image
    params:
      build: docker-build-dir
      tag: version/version
      tag_prefix: v

- name: build-tile
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ install-tile-generator ]
    - get: tile-history
    - get: tile-generator-repo
      passed: [ install-tile-generator ]
    - get: version
      passed: [ install-tile-generator ]
      trigger: true
    - get: tile-generator-package
      passed: [ install-tile-generator ]
    - get: tile-generator-package-release
      passed: [ install-tile-generator ]
  - task: build-sample-apps
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-repo
      outputs:
      - name: sample-tile-build
      run:
        path: bash
        args:
        - -exc
        - |
          command -v zip >/dev/null 2>&1 || apt update && apt install --yes zip
          tile-generator-repo/sample/src/build.sh sample-tile-build
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Sample app build failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator
  - put: app-docker-image
    params:
      build: sample-tile-build/src
  - get: app-docker-image
    params:
      save: true
  - task: populate-docker-cache
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: app-docker-image
      outputs:
      - name: docker-cache
      run:
        path: sh
        args: [ "-c", 'cp app-docker-image/image docker-cache/guidowb-sample-cf-app.tgz']
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Sample app docker build failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator
  - task: build-sample-tile
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-repo
      - name: sample-tile-build
      - name: tile-history
      - name: docker-cache
      - name: version
      outputs:
      - name: generated-tile
      params:
        GITHUB_API_TOKEN: {{github-api-token}}
      run:
        path: tile-generator-repo/ci/scripts/tile-build.sh
        args: [ "sample-tile-build", "tile-history", "generated-tile", "docker-cache", "version" ]
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Tile build failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator
  - put: tile-history
    params:
      file: generated-tile/tile-history-*.yml
  - put: generated-tile
    params:
      file: generated-tile/*.pivotal

- name: acceptance-tests
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ build-tile ]
    - get: generated-tile
      passed: [ build-tile ]
    - get: tile-generator-repo
      passed: [ build-tile ]
    - get: version
      passed: [ build-tile ]
      trigger: true
    - get: tile-generator-package
      passed: [ build-tile ]
    - get: tile-generator-package-release
      passed: [ build-tile ]
  - task: run-acceptance-tests
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-repo
      - name: generated-tile
      run:
        path: bash
        args:
        - -exc
        - |
          command -v unzip >/dev/null 2>&1 || apt update && apt install unzip
          command -v virtualenv >/dev/null 2>&1 || pip install virtualenv
          tile-generator-repo/ci/scripts/run-acceptancetests.sh `pwd`/generated-tile
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          channel: {{slack-channel}}
          icon_emoji: ':concourse:'
          text: 'Acceptance tests failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator

{% endraw %}{% for cluster in clusters %}- name: claim-{{ cluster }}
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ acceptance-tests ]
    - get: generated-tile
      passed: [ acceptance-tests ]
    - get: tile-generator-repo
      passed: [ acceptance-tests ]
    - get: version
      passed: [ acceptance-tests ]
      trigger: true
    - get: tile-generator-package
      passed: [ acceptance-tests ]
    - get: tile-generator-package-release
      passed: [ acceptance-tests ]
    - put: pcf-environment-{{ cluster }}
      params:
        action: claim
      tags:
      - toolsmiths-shared-vsphere

- name: deploy-tile-{{ cluster }}
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ claim-{{ cluster }} ]
    - get: generated-tile
      passed: [ claim-{{ cluster }} ]
    - get: tile-generator-repo
      passed: [ claim-{{ cluster }} ]
    - get: version
      passed: [ claim-{{ cluster }} ]
      trigger: true
    - get: tile-generator-package
      passed: [ claim-{{ cluster }} ]
    - get: tile-generator-package-release
      passed: [ claim-{{ cluster }} ]
    - get: pcf-environment-{{ cluster }}
      passed: [ claim-{{ cluster }} ]
      trigger: true
      tags:
      - toolsmiths-shared-vsphere
  - task: run-deploy-tile
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-repo
      - name: pcf-environment-{{ cluster }}
      - name: generated-tile
      run:
        path: bash
        args:
        - -exc
        - |
          command -v jq >/dev/null 2>&1 || apt update && apt install --yes jq
          tile-generator-repo/ci/scripts/run-deploytile.sh generated-tile pcf-environment-{{ cluster }}
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          {% raw %}channel: {{slack-channel}}{% endraw %}
          icon_emoji: ':concourse:'
          text: 'Deploy tile failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator

- name: deployment-tests-{{ cluster }}
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ deploy-tile-{{ cluster }} ]
    - get: generated-tile
      passed: [ deploy-tile-{{ cluster }} ]
    - get: pcf-environment-{{ cluster }}
      passed: [ deploy-tile-{{ cluster }} ]
      trigger: true
      tags:
      - toolsmiths-shared-vsphere
    - get: tile-generator-repo
      passed: [ deploy-tile-{{ cluster }} ]
    - get: version
      passed: [ deploy-tile-{{ cluster }} ]
      trigger: true
    - get: tile-generator-package
      passed: [ deploy-tile-{{ cluster }} ]
    - get: tile-generator-package-release
      passed: [ deploy-tile-{{ cluster }} ]
  - task: run-deployment-tests
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-repo
      - name: pcf-environment-{{ cluster }}
      - name: generated-tile
      run:
        path: bash
        args:
        - -exc
        - |
          command -v virtualenv >/dev/null 2>&1 || pip install virtualenv
          tile-generator-repo/ci/scripts/run-deploymenttests.sh generated-tile pcf-environment-{{ cluster }}
    on_failure:
      in_parallel:
      - put: slack-alert
        params:
          {% raw %}channel: {{slack-channel}}{% endraw %}
          icon_emoji: ':concourse:'
          text: 'Deployment tests failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
          username: Tile Generator

- name: remove-tile-{{ cluster }}
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ deployment-tests-{{ cluster }} ]
    - get: generated-tile
      passed: [ deployment-tests-{{ cluster }} ]
    - get: pcf-environment-{{ cluster }}
      passed: [ deployment-tests-{{ cluster }} ]
      trigger: true
      tags:
      - toolsmiths-shared-vsphere
    - get: tile-generator-repo
      passed: [ deployment-tests-{{ cluster }} ]
    - get: version
      passed: [ deployment-tests-{{ cluster }} ]
      trigger: true
    - get: tile-generator-package
      passed: [ deployment-tests-{{ cluster }} ]
    - get: tile-generator-package-release
      passed: [ deployment-tests-{{ cluster }} ]
  - task: remove-tile
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-repo
      - name: pcf-environment-{{ cluster }}
      - name: generated-tile
      run:
        path: tile-generator-repo/ci/scripts/run-removetile.sh
        args: [ "generated-tile", "pcf-environment-{{ cluster }}" ]
    on_failure:
      put: slack-alert
      params:
        {% raw %}channel: {{slack-channel}}{% endraw %}
        icon_emoji: ':concourse:'
        text: 'Remove tile failed, check <https://hush-house.pivotal.io/teams/PE/pipelines/tile-generator|here> for details'
        username: Tile Generator
  - put: pcf-environment-{{ cluster }}
    params:
      action: unclaim
      env_file: pcf-environment-{{ cluster }}/metadata
    tags:
    - toolsmiths-shared-vsphere{% if not loop.last %}

{% endif %}{% endfor %}{% raw %}

- name: most-recent
  disable_manual_trigger: true
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ {% endraw %}{% for cluster in clusters %}remove-tile-{{ cluster }}{% if not loop.last %}, {% endif %}{% endfor %}{% raw %} ]
    - get: tile-generator-repo
      passed: [ {% endraw %}{% for cluster in clusters %}remove-tile-{{ cluster }}{% if not loop.last %}, {% endif %}{% endfor %}{% raw %} ]
    - get: tile-generator-package
      passed: [ {% endraw %}{% for cluster in clusters %}remove-tile-{{ cluster }}{% if not loop.last %}, {% endif %}{% endfor %}{% raw %} ]
    - get: tile-generator-package-release
      passed: [ {% endraw %}{% for cluster in clusters %}remove-tile-{{ cluster }}{% if not loop.last %}, {% endif %}{% endfor %}{% raw %} ]
    - get: version
      passed: [ {% endraw %}{% for cluster in clusters %}remove-tile-{{ cluster }}{% if not loop.last %}, {% endif %}{% endfor %}{% raw %} ]
      trigger: true

- name: create-release
  plan:
  - in_parallel:
    - get: tile-generator-docker-image
      passed: [ most-recent ]
      params:
        save: true
    - get: tile-generator-package-release
      passed: [ most-recent ]
    - get: version
      passed: [ most-recent ]
  - put: version
    params:
      bump: final
  - task: rename-files
    image: tile-generator-docker-image
    config:
      platform: linux
      inputs:
      - name: tile-generator-package-release
      - name: version
      outputs:
      - name: release-files
      run:
        path: sh
        args:
        - -exc
        - |
          tar -xvf tile-generator-package-release/bundle-*.tar.gz -C release-files/
  - in_parallel:
    - put: tile-generator-github-release
      params:
        name: version/version
        tag: version/version
        tag_prefix: v
        globs:
        - release-files/dist*/*
    - put: tile-generator-docker-image-release
      params:
        load: tile-generator-docker-image
        tag: version/version
        tag_prefix: v
        tag_as_latest: true
    - put: tile-generator-pypi-release
      params:
        glob: release-files/dist*/tile-generator-*.tar.gz
    - put: version
      params:
        bump: patch

- name: bump-minor
  plan:
  - put: version
    params:
      bump: minor

- name: bump-major
  plan:
  - put: version
    params:
      bump: major
{% endraw %}
